# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы .env
.env

# Игнорировать логи
*.log

# Игнорировать папку .angular
.angular/

# Игнорировать папку dist
dist/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать папку .idea (для JetBrains IDE)
.idea/

# Игнорировать папку .vscode (для Visual Studio Code)
.vscode
.vs

obj/
Migrations/
bin/