form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 468px;
  height: 426px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 2px rgb(124, 124, 124);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  justify-content: space-around;
}
form label {
  font-size: 14px;
  width: 20%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
.titleContainer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  align-items: center;
  background-color: #e60000;
}
.titleContainer label {
  width: 100%;
  font-size: 16px;
  font-weight: 900;
}
.fieldContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  width: 100%;
  height: 20px;
  border-radius: 7px;
  border: 2px solid gray;
  outline: none;
  padding-left: 30px;
}
.inputContainer {
  display: flex;
  width: 70%;
  position: relative;
  align-items: center;
  gap: 10px;
}
form input text {
  padding: 10px;
}
input.ng-touched.ng-invalid {
  border: solid #ef350b 2px;
}
input.ng-touched.ng-valid {
  border: solid rgb(16, 180, 16) 2px;
}
select {
  border-radius: 7px;
  border: 2px solid gray;
  outline: none;
  height: 26px;
}
select.ng-touched.ng-valid {
  border: solid rgb(16, 180, 16) 2px;
}
select.ng-touched.ng-invalid {
  border: solid #ef350b 2px;
}
.messageContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
}
.messageInput {
  width: 70%;
  height: 40px;
  border-radius: 7px;
  border: 2px solid gray;
  outline: none;
  padding-left: 5px;
  box-sizing: border-box;
}
.captchaField {
  width: 100%;
  height: 20px;
  border-radius: 7px;
  border: 2px solid gray;
  outline: none;
  padding-left: 10px;
}
.buttonContainer {
  width: 100%;
  text-align: center;
}
button {
  width: 40%;
}
