<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="titleContainer">
    <label>Напишите нам</label>
  </div>
  <input-field
    #userName="ngModel"
    label="Ваше имя:"
    name="userName"
    [required]="true"
    [(ngModel)]="loginForm.userName"
  >
    <man-icon></man-icon>
  </input-field>
  <input-field
    label="Ваш Email:"
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    name="email"
    [(ngModel)]="loginForm.email"
  >
    <email-icon></email-icon>
  </input-field>
  <input-field
    label="Ваш телефон:"
    pattern="^8[0-9]{10}"
    mask="0-000-000-0000"
    placeholder="8-000-000-0000"
    name="phoneNubmer"
    [(ngModel)]="loginForm.phoneNubmer"
  >
    <phone-icon></phone-icon>
  </input-field>
  <div class="fieldContainer">
    <label>Тема:</label>
    <select
      [(ngModel)]="loginForm.selectedTheme"
      name="ThemeList"
      class="inputContainer"
      non-zero
    >
      <option *ngFor="let theme of themes" [value]="theme.id">
        {{ theme.themeLabel }}
      </option>
    </select>
  </div>
  <div class="messageContainer">
    <label>Ваше сообщение:</label>
    <input
      type="text"
      [(ngModel)]="loginForm.message"
      required
      name="messageField"
      class="messageInput"
    />
  </div>
  <div class="fieldContainer">
    <label>Captcha:</label>
    <div class="inputContainer">
      <input
        type="text"
        [(ngModel)]="loginForm.captcha"
        name="captchaCode"
        required
        class="captchaField"
        [ngStyle]="{
          'border': captchaIsValid === false ? '2px solid red' : undefined
        }"
      />
      <div [innerHTML]="captchaSvg"></div>
    </div>
  </div>
  <div class="buttonContainer">
    <button type="submit" [disabled]="form.invalid">Войти</button>
  </div>
</form>
